<div class="help-modal-backdrop" ng-if="WelcomeBlock.isViewingAboutModal()" ui-sref="dashboard"></div>

<div class="help-modal allow-ng-animate default-animation"
     ng-if="WelcomeBlock.isViewingAboutModal()">

    <div class="hm-header">
        <h3>About The Dev Tool Belt</h3>
        <button class="btn btn-link pull-right" ui-sref="dashboard"><i class="fa fa-times"></i></button>
    </div>

    <div class="hm-body" wwt-scroll-trap>
        <h4 class="applications">Applications</h4>

        <section class="container">

            <div class="columns with-padding text-center">
                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-screenshots.png"
                       style="background-image: url('img/how-to-screenshots.png')"></a>

                    <h5>Screenshots</h5>
                    <p>Use screenshots to describe your application and inspire the group with your design!</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-analytics.png"
                       style="background-image: url('img/how-to-analytics.png')"></a>

                    <h5>Analytics</h4>
                    <p>View analytics from your google analytics profile.</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-permissions.png"
                       style="background-image: url('img/how-to-permissions.png')"></a>

                    <h5>Permissions</h5>
                    <p>Manage permissions for your application.</p>
                </section>
            </div>

            <br><hr class="dashed"><br>

            <div class="columns with-borders vertical-center">
                <section class="flex-2">
                    <p class="lead">Relate content to your applications, apis, and components to get a full picture of your project.</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-related-content.png"
                       style="background-image: url('img/how-to-related-content.png')"></a>
                </section>
            </div>

        </section>

        <h4 class="apis">APIs</h4>

        <section class="container">

            <div class="columns with-borders vertical-center">
                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-api-monitoring.png"
                       style="background-image: url('img/how-to-api-monitoring.png')"></a>
                </section>

                <section class="flex-2">
                    <p class="lead">Keep an eye on api execution times.</p>
                </section>
            </div>

            <br><br>

            <div class="columns with-borders vertical-center">
                <section class="flex-2">
                    <p class="lead">Manage routing overrides directly from the dashboard.</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-dashboard-overrides.png"
                       style="background-image: url('img/how-to-dashboard-overrides.png')"></a>
                </section>
            </div>

            <br><hr class="dashed"><br>

            <div class="columns with-padding text-center">
                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-api-logs.png"
                       style="background-image: url('img/how-to-api-logs.png')"></a>

                    <h5>Logs</h5>
                    <p>Quick access to the requests that are hitting your API.</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-api-documentation.png"
                       style="background-image: url('img/how-to-api-documentation.png')"></a>

                    <h5>Documentation</h5>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-api-permissions.png"
                       style="background-image: url('img/how-to-api-permissions.png')"></a>

                    <h5>Permissions</h5>
                    <p>Easily manage permissions without manually creating an application for your API.</p>
                </section>
            </div>

        </section>

        <h4 class="components">Components</h4>

        <section class="container">

            <div class="columns with-borders vertical-center">
                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-components.png"
                       style="background-image: url('img/how-to-components.png')"></a>
                </section>

                <section class="flex-2">
                    <p class="lead">Find components!</p>
                </section>
            </div>

            <br><hr class="dashed"><br>

            <div class="columns with-borders vertical-center">
                <section class="flex-2">
                    <p class="lead">Visibility into component dependencies.</p>
                </section>

                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-component-dependencies.png"
                       style="background-image: url('img/how-to-component-dependencies.png')"></a>
                </section>
            </div>

            <br><hr class="dashed"><br>

            <div class="columns with-borders vertical-center">
                <section>
                    <a class="info-image"
                       target="_blank"
                       href="img/how-to-smart-search.png"
                       style="background-image: url('img/how-to-smart-search.png')"></a>
                </section>

                <section class="flex-2">
                    <p class="lead">Keyword supported search for improved discovery.</p>
                </section>
            </div>
        </section>
    </div>

    <br><br><br>
</div>