<br><br>

<section class="item-detail-content-header-form large allow-ng-animate" ng-if="ProfileReportRoles.isAdding">

    <form class="columns vertical-center with-padding" ng-submit="ProfileReportRoles.addReportRole()">

        <section></section>

        <section class="flex-2">
            <br>
            <div class="form-group">
                <ui-select required="true"
                           ng-model="ProfileReportRoles.newRole"
                           ui-select-focus-input
                           title="Search"
                           class="no-select2">

                    <ui-select-match placeholder="Search...">{{ $select.selected.name }}</ui-select-match>

                    <ui-select-choices ui-disable-choice="ProfileReportRoles.choiceIsDisabled(role)"
                                       repeat="role in ProfileReportRoles.availableRoles | filter:$select.search | orderBy: 'name'">
                        {{ role.name }}
                        <small ng-if="ProfileReportRoles.choiceIsDisabled(role)"><br>-- Role Already in Profile --</small>
                    </ui-select-choices>

                </ui-select>
            </div>
        </section>

        <section>
            <div class="form-actions">
                <button class="btn btn-primary"
                        type="submit"
                        ng-disabled="!ProfileReportRoles.newRole">

                    Save
                     <i class="fa fa-spinner fa-spin" ng-if="ProfileReportRoles.isSaving"></i>
                </button>
                <a class="btn btn-link" ng-click="ProfileReportRoles.isAdding = false;">Cancel</a>
            </div>
        </section>
    </form>

</section>

<div class="item-detail-overlay" ng-if="ProfileReportRoles.isAdding" ng-click="ProfileReportRoles.isAdding = false"></div>

<div class="item-detail-content-header" ng-if="!ProfileReportRoles.isLoading && !ProfileReportRoles.shouldShowBlankSlate()">
    <section>

        <div class="resource-types-search">
            <i class="fa fa-search"></i>

            <input id="secondarySearchInput"
                   type="text"
                   class="no-input"
                   ng-model="ProfileReportRoles.searchText"
                   ng-model-options="{ debounce: 300 }"
                   tabindex="0"
                   placeholder="Search">

        </div>

    </section>

    <section class="item-detail-header-actions">
        <a class="btn btn-link btn-xs pull-right" ng-href="https://apirouter.apps{{ envExtended.getTargetEnvModifier() }}.wwt.com/profiles/{{ ProfileDetail.profile.id }}/report-roles" target="_blank">JSON</a>

        <button class="btn btn-primary btn-xs" ng-click="ProfileReportRoles.isAdding = true" ng-if="ProfileDetail._callerRights.write">
            <i class="fa fa-plus"></i> Add Role to Profile
        </button>
    </section>
</div>


<div class="blank-slate-tab" ng-if="ProfileReportRoles.shouldShowBlankSlate()">
    <i class="fa fa-info-circle"></i>

    <section>
        <p>No report roles have been added to the <strong>{{ ProfileDetail.profile.name }}</strong>
            Profile. <span ng-if="ProfileDetail._callerRights.write"><strong><a ng-click="ProfileReportRoles.isAdding = true">Add a report role</a></strong> to assign it to this profile.</span></p>
    </section>
</div>

<div class="cards allow-ng-animate default-animation" ng-if="ProfileReportRoles.roles.length">
    <section class="card-outer asset-card" ng-repeat="roleAssociation in ProfileReportRoles.roles | filter:ProfileReportRoles.searchText">

        <div class="card-trash" ng-if="ProfileDetail._callerRights.write">
            <i class="fa fa-trash"
               ng-click="ProfileReportRoles.removeRoleFromProfile(roleAssociation)"
               uib-tooltip="Remove Role from Profile."
               tooltip-popup-delay="500"
               tooltip-append-to-body="true"></i>
        </div>

        <a class="card-inner">
            <h3 class="card-header">{{ roleAssociation.reportRoleName }}</h3>

            <p class="card-content">{{ roleAssociation.reportRoleId }}</p>
        </a>

    </section>
</div>
