<div style="position: absolute; right: 50px; z-index: 1; margin-top: 11px; width: 77px;">
    <span uib-dropdown is-open="status.isopen" dropdown-append-to-body="true">
        <a uib-dropdown-toggle class="clickable">
            {{ $ctrl.timeFrame }}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-class="{active: $ctrl.timeFrame === '30.days'}">
                <a class="clickable" ng-click="$ctrl.setTimeFrame('30.days')">30 Days</a>
            </li>
            <li ng-class="{active: $ctrl.timeFrame === '60.days'}">
                <a class="clickable" ng-click="$ctrl.setTimeFrame('60.days')">60 Days</a>
            </li>
            <li ng-class="{active: $ctrl.timeFrame === '90.days'}">
                <a class="clickable" ng-click="$ctrl.setTimeFrame('90.days')">90 Days</a>
            </li>
            <li ng-class="{active: $ctrl.timeFrame === '6.months'}">
                <a class="clickable" ng-click="$ctrl.setTimeFrame('6.months')">6 Months</a>
            </li>
            <li ng-class="{active: $ctrl.timeFrame === '12.months'}">
                <a class="clickable" ng-click="$ctrl.setTimeFrame('12.months')">12 Months</a>
            </li>
        </ul>

    </span>
</div>

<iframe ng-if="$ctrl.iframeUrl"
        ng-src="{{ $ctrl.iframeUrl }}"
        style="border: none; height: 350px;"
        width="99%" />

<analytics-detail ng-if="$ctrl.analyticsDetailParams" analytics-detail-params="$ctrl.analyticsDetailParams" show-table="true"></analytics-detail>
