<section class="card-outer asset-card component">

<a class="card-inner clickable" ui-sref="componentDetail({id: component.id})" tabindex="0">

    <new-asset-banner item="component"></new-asset-banner>

    <div class="columns">
        <section class="flex-none">
            <div class="asset-icon">
                <i class="wwt-icon-{{ component.iconName || 'question' }}"></i>
            </div>
        </section>

        <section class="flex-3">
            <h3 class="card-header">{{ component.name }}</h3>

            <p class="card-content">{{ component.shortDescription | truncate }}</p>

            <div class="card-connections">
                <i class="fa fa-github" ng-if="component.connectedRepos && component.connectedRepos.length"></i>

                <i class="fa fa-lightbulb-o" ng-if="component.connectedVisionBoards && component.connectedVisionBoards.length"></i>

                <i><img src="img/jenkins.png" ng-if="component.connectedJenkinsJobs && component.connectedJenkinsJobs.length"></i>
            </div>
        </section>

    </div><!-- /.columns -->
</a>

</section>